img {
  margin-top: 2 rem;
  max-height: 75vh;
  width: 100%;
}

.home-section {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.home-section div {
  text-align: center;
}

.menu-section ul * {
  display: flex;
  margin: 1rem;
}
.menu-section ul div {
  padding: 1rem;
  background-color: ghostwhite;
  border: 1px solid rebeccapurple;
  color: rebeccapurple;
}

.contact-section {
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border: 1px solid rebeccapurple;
  width: 50%;
  margin: 5rem auto;
}

.contact-section * {
  margin: 1rem;
  padding: 1rem;
}

p {
  margin: 1rem;
  margin: auto;
}
